### Importar Librerias y establecer conexion a la base de datos

In [1]:
# Importar Librerias
import pandas as pd
import pyodbc 

# Establecer la conexión con la base de datos
server = 'ws-dev' 
database = 'svs_produccion' 
username = 'sa_Api' 
password = '$db@C0vid*19' 

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

print("Conexion exitosa")

Conexion exitosa

In [2]:
 # Ejecutar una consulta SQL para obtener la lista de tablas
df = pd.read_sql_query("SELECT * FROM Rpt_ResultadosLaboratorio",cnxn)

#Cerrar Conexion a la Base de Datos
cnxn.close()

C:\Users\wsilva\AppData\Local\Temp\ipykernel_27516\2615894453.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM Rpt_ResultadosLaboratorio",cnxn)

In [3]:
# validar los campos o valiables del dataframe
df.head()

,OrdenLaboratorioDetalleId,FechaRecepcionMuestra,CodigoMuestra,Expediente,NombreCompleto,Edad,TipoEdad,Sexo,Ocupacion,Region,...,Obesidad,Asma,EnfermedadRenalCronica,Inmunosupresion,AlcoholismoCronico,EnfermedadNeurologicaCronica,Tabaquismo,Embarazo,SemanasGestacion,Observaciones
0,40669,2020-12-16 16:31:46.653,LNV 210778,0801197409314,CARLOS ROBERTO MEDINA ACOSTA,46,AÑOS,HOMBRE,INGENIERO ELECTRICISTA,19,...,None,None,None,None,None,None,None,None,NaN,
1,49446,2021-01-09 13:05:26.620,LNV 219064,0801197200856,RICARDO FRANCISCO GONZALEZ MEJIA,48,AÑOS,HOMBRE,INGENIERO ELECTRICISTA,19,...,None,None,None,None,None,None,None,None,NaN,
2,114519,2021-02-17 08:33:43.653,LNV 263159,P-17519,WILLIAM JAMES LORENZ,77,AÑOS,HOMBRE,INGENIERO ELECTRICISTA,2,...,None,None,None,None,None,None,None,None,NaN,
3,283644,2021-06-01 15:30:09.847,LRA 14736,0209197901312,CARLOS ALFREDO MIRANDA SABIO,41,AÑOS,HOMBRE,INGENIERO ELECTRICISTA,2,...,None,None,None,None,None,None,None,None,NaN,
4,273133,2021-05-26 13:26:08.503,LNV 359736,1709198200981,DOUGLAS REINALDO ZERON JUAREZ,38,AÑOS,HOMBRE,INGENIERO CIVIL,17,...,None,None,None,None,None,None,None,None,NaN,

### Realizar el analisis exploratorio del conjunto de datos y resumir las principales caracteristicas. utilizando la libreria YData Profiling

In [4]:
#Importar la libreria
from ydata_profiling import ProfileReport
#Generar el informe del EDA
profile = ProfileReport(df, title="Analisis Exploratorio (EDA) -> Datos de Vigilancia de COVID19 en Honduras")
profile.to_file("../resultados/EDA_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]